{% extends 'base.html.twig' %}

{% block title %}Edit survey!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('survey_list') }}">Return to the list</a>
        {{ form_start(form) }}
        {{ form_row(form.title) }}

        <h3>DateChoices</h3>
        <button type="button" class="add_item_link" data-collection-holder-class="dateChoices">Add a dateChoice</button>
        <ul class="dateChoices" data-prototype="{{ form_widget(form.dateChoices.vars.prototype)|e('html_attr') }}">
            {% for dateChoice in form.dateChoices %}
                <li>{{ form_row(dateChoice.date) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('survey') }}
{% endblock %}
