{% extends 'base.html.twig' %}

{% block title %}New survey!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('survey_new') }}">Create survey</a>
        <a href="{{ path('home') }}">Go home</a>
        <table>
            <tr>
                <th>Title</th>
                <th>Url to send</th>
                <th>Number of votes</th>
                <th>Actions</th>
            </tr>
            {% for survey in surveys %}
                <tr>
                    <td>{{ survey.title }}</td>
                    <td>{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('individual_new', {'url' : survey.url}) }}</td>
                    <td>{{ survey.nbVote }}</td>
                    <td>
                        <a href="{{ path('survey_show', {'url' : survey.url}) }}">Show</a>
                        <a href="{{ path('survey_edit', {'url' : survey.url}) }}">Edit</a>
                        <a href="{{ path('survey_delete', {'url' : survey.url}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
