{% extends 'base.html.twig' %}

{% block title %}New survey!{% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('survey_list') }}">Return to the list</a>
        <h1>{{ survey.title }}</h1>
        <table>
            <tr>
                <th>Date choice</th>
                <th>Number of votes</th>
                <th>Indivuals</th>
            </tr>

            {% for dateChoice in survey.dateChoices %}
                <tr>
                    <td>
                        {{ dateChoice.date | date("j/m/Y") }}
                    </td>
                    <td>
                        {{ dateChoice.nbVote }}
                    </td>
                    <td>
                        <ul>
                            {% for individual in dateChoice.individuals %}
                                <li>
                                    {{ individual.firstName }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
