{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('survey_list') }}">Admin surveys</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.title }}</td>
                <td>
                    <a href="{{ path('individual_new', {'url' : survey.url}) }}">Choose dates</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
