{% extends 'base.html.twig' %}

{% block title %}New survey!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('home') }}">Return to the list</a>
        <h1>{{ survey.title }}</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Date choice</th>
                <th>Show</th>
            </tr>
            <tr>
                <td>{{ survey.title }}</td>
                <td>
                    <ul>
                        {% for dateChoice in survey.dateChoices %}
                            <li>
                                {{ dateChoice.date|date("m/d/Y") }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('survey_delete', {'url' : survey.url}) }}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
